[modules]
# Choose operating systems to scan
linux    = True
solaris  = True
mac      = True
bsd      = True
aix      = True

[settings]
# base_url points to your Device42 server
# For example: base_url = https://192.168.1.50
base_url   =  https://
# Device42 username and password
username   =  admin
secret     =  adm!nd42

[targets]
# Targets can be specified as:
# single: 192.168.1.125
# range: 192.168.1.101-192.168.1.150
# cidr block: 192.168.1.0/24
# any combination of above: 192.168.3.0/24,192.168.4.1-192.168.4.10,192.168.55.22,10.0.0.0/24
# A username can be associated with any single, range or cidr block. Without a username, 
# the username of the user running the script is assumed
# For example: username@192.168.1.0/24 or root@192.168.101-192.168.1.150
# In addition, a port can be added to each target
# For example: 192.168.1.0/24:2220 or 192.168.101-192.168.1.150:2220
# If no port is given, 22 is assume
targets   =

[credentials]
# If using key file instead of username and password, enter 'True' for use_key_file setting and
# path to the private key file. For example:
# use_key_file = True
# key_file = /home/user/.ssh/id_rsa
use_key_file = False
key_file     =
# You can use as many USER:PWD combinations as you like separated by commas.
# If this is set, the script will run it's checks in parallel
# For example: credentials = user:P@ssw0rd,root:P@ssw0rd
# If using key file, instead of user:password combination use just username
# For example: credentials = root
credentials   =


[ssh_settings]
timeout       = 10

[options]
get_serial_info    			= True
get_hardware_info  			= True
get_os_details     			= True
get_cpu_info       			= True
get_memory_info    			= True
ignore_domain      			= False
upload_ipv6        			= True
duplicate_serials  			= False
give_hostname_precedence	= False
add_hdd_as_parts			= False
add_hdd_as_device_properties	= False
debug              			= True
threads            			= 50
dict_output        			= False

